{% extends '@ScoreCms/Default/adminLayout.html.twig' %}

{% block content_header_title %}
    <h1>{{ 'score.block.edit.topTitle'|trans }} </h1>
{% endblock %}

{% block body -%}
    {{ form_start(form) }}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'score.block.edit.title'|trans }}</h3>

        </div>


        <div class="box-body">


            {{ form_errors(form) }}

            <div class="row">
                <div class="col-sm-12">

                    {{ form_row(form.name) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.visibility) }}


                </div>
                <div class="col-sm-9">
                    {{ form_row(form.content) }}
                </div>
                <div class="col-sm-3">
                    {% if logs | length %}
                    <h3>{{ 'score.block.edit.log.title'|trans }}</h3>
                    <ul class="log-list">
                        {% for log in logs %}
                            <li><a href="#" title="[Zmena-{{ log.id }}]"
                                   data-content="{{ log.oldValue }}">{{ log.createdAt | date("d. m. Y - H:i") }}</a></li>
                        {% endfor %}
                    </ul>
                        {% else %}
                            <h5>{{ 'score.block.edit.log.noLog'|trans }}</h5>
                    {%  endif %}
                </div>
            </div>
            {{ form_widget(form._token) }}
        </div>
        <div class="box-footer">

            <button type="submit" class="btn btn-success btn-lg">{{ 'score.block.edit.save'|trans }}</button>
            <a class="btn btn-danger btn-sm" href="">{{ 'score.block.edit.cancel'|trans }}</a>
        </div>
    </div>

    </form>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/scorecms/plugins/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            CKEDITOR.replace('block_content');
        });
    </script>

    <script>
        $('.log-list a').on('click', function (e) {
            e.preventDefault();
            $('.log-list a').css({color: ''})
            $(this).css({color: '#d77'})
            CKEDITOR.instances['block_content'].setData(this.dataset.content);
        })
    </script>
{% endblock %}
