{% extends '@ScoreCms/Default/adminLayout.html.twig' %}

{% block content_header_title %}
    <h1>{{ 'score.block.edit.topTitle'|trans }} </h1>
{% endblock %}

{% block body -%}
    {{ form_start(form) }}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'score.block.edit.title'|trans }}</h3>

        </div>


        <div class="box-body">


            {{ form_errors(form) }}

            <div class="row">
                <div class="col-sm-12">
                    {{ form(form) }}
                </div>
            </div>
        </div>
        <div class="box-footer">

            <button type="submit" class="btn btn-success btn-lg">{{ 'score.block.edit.save'|trans }}</button>
            <a class="btn btn-danger btn-sm" href="">{{ 'score.block.edit.cancel'|trans }}</a>
        </div>
    </div>

    </form>
{% endblock %}


