{% extends '@ScoreCms/Default/adminLayout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content_header_title %}
    <h1>{{ 'score.block.list.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.block.list.breadcrumb' | trans }}</li>
{% endblock %}

{% block body %}


    {# <pre> #}
    {# {{ dump(blocks) }} #}
    {# </pre> #}

    <div class="row">
        <div class="col-sm-10">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="blocks-datatable" class="table table-striped display compact">
                        <thead>
                        <tr>
                           
                            <th>{{ 'score.block.list.name'|trans }}</th>
                            <th>{{ 'score.block.list.type'|trans }}</th>
                            <th>{{ 'score.block.list.action'|trans }}</th>
                            <th>{{ 'score.block.list.action'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for block in blocks %}
                            <tr>
                               
                                <td>
                                    {% if block.type is same as "static" %}
                                        <a class="lvl_1" href="{{ path('score-block-edit', { 'id': block.id }) }}">{{ block.name }}</a>
                                    {% elseif  block.type is same as "menu" %}
                                        <a class="lvl_1" href="{{ path('score_cms_menu', { 'menuId': block.params.menuId }) }}">{{ block.name }}</a>
                                    {% elseif  block.type is same as "form" %}
                                        <a class="lvl_1" href="{{ path('score_cms_form_edit', { 'id': block.params.formId }) }}">{{ block.name }}</a>
                                    {% else %}
                                        <a class="lvl_1" href="#">{{ block.name }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ block.type }}
                                </td>
                                <td>
                                    <a class="delete-block"
                                       href="{{ path('score-block-delete', {'id' : block.id}) }}">{{ 'score.block.list.delete'|trans }}</a>
                                </td>
                                <td>
                                    <a class="lvl_1" href="{{ path('score-block-edit-expert', { 'id': block.id }) }}">{{ 'score.block.list.expert_edit'|trans }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="box box-primary">
                <div class="box-body">
                    <a class="btn btn-primary" href="{{ path('score-block-new') }}"> {{ 'Pridať nový blok' }} </a>
                </div>
            </div>
        </div>
    </div>
    {{ include('@ScoreBlock/Admin/_delete_modal.html.twig') }}

{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
     <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
     <script src="{{ asset('bundles/scoreblock/js/BlockManager.js') }}"></script>
     <script type="text/javascript">

         $('#blocks-datatable').DataTable({
             language: {
                 url: "{{ asset('bundles/scorecms/plugins/datatables/'~ lang ~'.js') }}"
             },
             "ordering": false
         });


         var block_manager = new BlockManager();
         block_manager.reorder_url = '/{# {path('score_block_reorder')} #}';

        
     </script>
     <script>
         $('body').on('click', '.delete-block', function (e) {
             e.preventDefault();
             $('#confirm-delete-page-modal .btn-success').attr('href', $(this).attr('href'));
             $('#confirm-delete-page-modal').modal('show');
         });
     </script>
 {% endblock %}
