{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Block</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Perex</th>
                <td>{{ entity.perex }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content }}</td>
            </tr>
            <tr>
                <th>Lang</th>
                <td>{{ entity.lang }}</td>
            </tr>
            <tr>
                <th>Module</th>
                <td>{{ entity.module }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>{{ entity.action }}</td>
            </tr>
            <tr>
                <th>Params</th>
                <td>{{ entity.params }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Sortorder</th>
                <td>{{ entity.sortOrder }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{{ entity.visible }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('block') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('block_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
